---
import { getCollection } from "astro:content";
import Page from '../layouts/Page.astro';
import Date from '../components/Date.astro';
import Location from '../components/Location.astro';
import { Debug } from 'astro:components';
import { Image } from 'astro:assets';

const allFonts = await getCollection("fonts");

---

<Page>
  <!-- <h1>The current URL is: {Astro.url}</h1>
  <h1>The current URL pathname is: {Astro.url.pathname}</h1>
  <h1>The current URL origin is: {Astro.url.origin}</h1> -->
	<div class="fonts">
    {
      allFonts.map((font) => (
        // <Debug {font} /> 
        <div class="font">
          <div class="metadata">
            <Date date={font.data.pubDate} />
            <div class="place">
              {font.data.location}
            </div>
            <Location latitude={font.data.latitude} longitude={font.data.longitude} />
          </div>
          <Image src={font.data.image.file} alt={font.data.image.alt} />
        </div>
      ))
    }
  </div>
</Page>
