---
import { Image } from 'astro:assets';
import Date from '../components/Date.astro';
import Location from '../components/Location.astro';
import { Debug } from 'astro:components';

const { font, index } = Astro.props;

const locationRoot = "https://www.openstreetmap.org/node/";
let url = locationRoot + font.data.node;

---

<div class="detail" data-index={index}>
  <div class="detail-left">
    <Image src={font.data.image.file} alt={font.data.image.alt} data-index={index} />
  </div>
    <div class="detail-right">
      <button class="close-button" type="button" aria-label="Close" >
        <svg class="close-svg" width="16px" height="16px">
          <use xlink:href="#close" />
        </svg>
      </button>
      <div class="info">
        <h2><Location node={font.data.node} place={font.data.image.alt + ", " + font.data.place} /></h2>
        <Date date={font.data.pubDate} />
      </div>
      <button class="location-button"><a href={url} target="_blank">See location</a></button>
      <div class="buttons">
        <button class="previous-button" type="button" aria-label="Previous" data-index={index} disabled>
          <svg class="arrow-svg" width="24px" height="24px">
            <use xlink:href="#left" />
          </svg>
        </button>
        <button class="next-button" type="button" aria-label="Next" data-index={index}>
          <svg class="arrow-svg" width="24px" height="24px">
            <use xlink:href="#right" />
          </svg>
        </button>
      </div>
  </div>
</div>

<style>
  .detail {
    display: flex;
  	flex-direction: column;
    padding: 2rem;
    background-color: var(--active-background-color);
    position: absolute;
    left: 0px;
    inset: 0;
    transition: background-color var(--transDur);
    z-index: 10;
  }

  .detail-left {
    flex-basis: 60%;
    max-width: 100%;
    height: 100%;
    display: flex;
  }

  .detail-left img {
    align-self: center;
    margin: auto;
  }

  .detail-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    height: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display:flex;
    flex-direction: row;
		justify-content: center;
    gap: 1rem;
  }

  button {
    background: transparent;
    color: var(--main-color);
    align-self: flex-end;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--main-color);
    border-radius: 100%;
  }

  /* Center the svg on buttons */
  button svg {
    margin-top: 3px;
  }

  .location-button,
  .location-button a {
    align-self: flex-start;
    width: auto;
    padding: 0 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
    text-decoration: none;
  }

  .location-button:hover,
  .location-button:hover a,
  .location-button a:hover {
    color: var(--active-background-color);
    outline: transparent;
    background-color: var(--main-color);
  }

    button:disabled {
    opacity: 0.5;
  }

  button:focus,
  button:hover {
    color: var(--active-background-color);
    outline: transparent;
    background-color: var(--main-color);
  }

  @media (min-width: 768px) {
    .detail {
      flex-direction: row;
      padding: 1.5rem;
      position: absolute;
      left: 0px;
      gap: 2rem;
      height: var(--detail-pane-height);
      align-items: center;
    }

    .detail-left {
      flex-basis: 60%;
      max-width: 76%;
      height: 100%;
      display: flex;
    }

    .detail-left img {
      align-self: center;
      margin: auto;
    }

    .detail-right {
      justify-content: space-between;
      gap: 1rem;
    }

    .buttons {
      display:flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .detail-left {
      flex-basis: 65%; 
    }

    .detail-right {
      gap: 2rem;
    }
  }


</style>