---
import { Image, getImage } from 'astro:assets';
import Date from '../components/Date.astro';
import Location from '../components/Location.astro';
import Tag from '../components/Tag.astro';
// import { Debug } from 'astro:components';
const { item, index } = Astro.props;
let geoUrl = "https://www.openstreetmap.org/?" + item.data.geo;
const theImage = await getImage({src: item.data.image.file});
---

<div class="detail" data-index={index}>
  <div class="detail-left">
    <a href={theImage.src} target="_blank" rel="noreferrer noopener">
      <Image src={item.data.image.file} alt={item.data.image.alt} data-index={index} />
    </a>
  </div>
    <div class="detail-right">
      <div class="buttons">
        <div class="buttons-left">
          <button class="previous-button" type="button" aria-label="Previous" data-index={index} disabled>
            <svg class="arrow-svg" width="24px" height="24px">
              <use xlink:href="#left" />
            </svg>
          </button>
          <button class="next-button" type="button" aria-label="Next" data-index={index}>
            <svg class="arrow-svg" width="24px" height="24px">
              <use xlink:href="#right" />
            </svg>
          </button>
        </div>
        <button class="close-button" type="button" aria-label="Close" >
          <svg class="close-svg" width="16px" height="16px">
            <use xlink:href="#close" />
          </svg>
        </button>
      </div>
      <div class="info">
        <div class="info-top">
          <h2><Location geo={item.data.geo} place={item.data.image.alt + ", " + item.data.place} /></h2>
          <Tag tag={item.data.tag} />
        </div>
        <Date date={item.data.pubDate} />
      </div>
      <button class="location-button"><a href={geoUrl} target="_blank">See location</a></button>
  </div>
</div>

<style>
  .detail {
    display: flex;
  	flex-direction: column;
    padding: 2rem;
    background-color: var(--active-background-color);
    position: fixed;
    left: 0px;
    inset: 0;
    transition: background-color var(--transDur);
    z-index: 10;
  }

  .detail-left {
    flex-basis: 60%;
    max-width: 100%;
    height: 100%;
    display: flex;
  }

  .detail-left a {
    display:flex;
    align-self: center;
    margin: auto;
    height: 100%
  }

  .detail-left a img {
    margin-top: auto;
    margin-bottom: auto;
  }

  .detail-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    height: 100%;
    justify-content: space-between;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .buttons {
    display:flex;
    flex-direction: row;
  }

  .buttons-left {
    display:flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 1rem;
    flex-basis: 90%;
  }

  .close-button {
    align-self: flex-end;
  }

  button {
    background: transparent;
    color: var(--main-color);
    align-self: flex-end;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--main-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .location-button {
    align-self: flex-start;
    width: auto;
    padding: 0 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
  }

  .location-button a {
    align-self: center;
    color: var(--main-color);
    text-decoration: none;
  }

  .location-button:hover,
  .location-button:hover a,
  .location-button a:hover {
    color: var(--active-background-color);
    outline: transparent;
    background-color: var(--main-color);
  }

    button:disabled {
    opacity: 0.5;
  }

  button:focus,
  button:hover {
    color: var(--active-background-color);
    outline: transparent;
    background-color: var(--main-color);
  }

  @media (min-width: 768px) {
    .detail {
      flex-direction: row;
      padding: 1.5rem;
      position: absolute;
      left: 0px;
      gap: 2rem;
      height: var(--detail-pane-height);
      align-items: center;
    }

    .detail-left {
      flex-basis: 60%;
      max-width: 76%;
      height: 100%;
      display: flex;
    }

    .detail-left a {
      align-self: center;
      margin: auto;
    }

    .detail-right {
      gap: 1rem;
    }

    .buttons {
      display:flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .detail-left {
      flex-basis: 65%; 
    }
  }
</style>