---
import Thumbnail from '../components/Thumbnail.astro';
import Detail from '../components/Detail.astro';
// import { Debug } from 'astro:components';

const { item, index } = Astro.props;
---
<div class="item" data-index={index} >
  <Thumbnail item={item} index={index} />
  <Detail item={item} index={index} />
</div>

<script>
</script>

<style>
</style>

