---
import { Image } from 'astro:assets';
import Date from '../components/Date.astro';
import Location from '../components/Location.astro';

const { font } = Astro.props;
---

<div class="thumbnail">
  <div class="image">
    <Image src={font.data.image.file} alt={font.data.image.alt} data-slug={font.slug} />
  </div>
  <div class="metadata">
    <Date date={font.data.pubDate} />
    <Location node={font.data.node} place={font.data.image.alt + ", " + font.data.place} />
  </div>
</div>

<script>
  //TODO: computer the left and top values regarding the image dimensions and ratio
  
  // All the process and calculations needed to generate thumbnail which
  // take into account the widht/height ratio of images.
  document.addEventListener('DOMContentLoaded', function () {
    const images = document.querySelectorAll('.image img');
    images.forEach(image => {

      if (image.complete) {
        cropAndPositionImage(image);
      } else {
        image.addEventListener('load', () => {
          cropAndPositionImage(image);
        });
      }
    });
  });

  function cropAndPositionImage(img) {
    const imgRatio = img.width / img.height;

    // Get the ratio value declared in the :root CSS section 
    const ratio = getComputedStyle(document.documentElement).getPropertyValue('--aspect-ratio');
    let ratioNum = Number(ratio);

    if (imgRatio < ratioNum) {
        img.style.width = '100%';
        img.style.height = 'auto';
    } else {
        img.style.width = 'auto';
        img.style.height = '100%';
    }
  };

  // Get all labels
  const thumbs = document.querySelectorAll('div.image img[data-slug]');

  // Handle clicks on each label.
  thumbs.forEach((thumb) => {
    thumb.addEventListener('click', () => {

      // Close all details
      const items = document.querySelectorAll('div.detail');
      items.forEach((item) => {
        item.style.display = 'none';
      });

      // console.log("Look for: detail-" + thumb.dataset.slug);
      document.getElementById('detail-' + thumb.dataset.slug).style.display = 'flex';
    });
  });

  // Get all close button
  const closes = document.querySelectorAll('span[data-slug]');
  // Handle clicks on each button.
  closes.forEach((close) => {
    close.addEventListener('click', () => {
      document.getElementById('detail-' + close.dataset.slug).style.display = 'none';
    });
  });
</script>

<style>
  .thumbnail,
  .thumbnail .image {
    position: relative;
  }

  .thumbnail {
    /* aspect-ratio: var(--aspect-ratio); */
    cursor: pointer;
    padding: 1rem;
    transition: 0.2s;
  }

  .thumbnail:hover {
    background-color: rgba(245, 222, 179, 0.3);
  }

  .thumbnail .image {
    aspect-ratio: var(--aspect-ratio);
    display: block;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    position: relative;
  }
  
  .thumbnail .image img {
    display: block;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%,-50%);
  }

  .metadata {
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1.5em;
    padding-top: 0.25em; */
  }
</style>

