---
import Header from "../components/Header.astro";
import Heading from "../components/Heading.astro";
import "../styles/gallery.css";
import '@fontsource-variable/montserrat';
const { title, rss } = Astro.props;
const favi = import.meta.env.BASE_URL + "/favicon.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={favi} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <Header />
    <div id="content">
      <Heading title={title} rss={rss} />
      <slot />
    </div>
  </body>
</html>

<style>
  #content {
    margin-top: 3rem;
  }

  @media screen and (min-width: 768px) {
    #content {
      margin-top: 2rem;
    }
  }
</style>
